td{
    border: 1px solid black;
    padding: 5px;
}

tr:nth-child(odd){
    background-color: yellow;
}

tr:nth-child(9){
    color: green;
}

tr td:nth-child(1):first-letter {
    font-size: 20px;
}